@import "../../style.scss";

.home{
    width : 100%;
    min-height : 100vh;

    &_container{
        display : flex;
        flex-direction: column;
        align-items: center;
        gap : 5vh;
        padding : 10vh 10vw;

        @media screen and (max-width:990px) {
            padding : 10vh 30px;
        }

        &-formulaire{
            display : flex;
            flex-direction: column;
            align-items: center;
            gap : 2.5vh;
            width : 20vw;

            @media screen and (max-width:990px) {
                width : 100%;
            }

            .fieldset{
                display : flex;
                flex-direction: column;
                gap : 1vh;
                width : 100%;

                input{    
                    width : 100%;             
                    height : 5vh;
                    padding : 0 5px;
                    border : 1px solid $gris;

                    &:focus{
                        outline : 2px solid $kaki;
                    }
                }

                .select{
                    width : 100%;
                    height : 5vh;
                    padding : 0 5px;  
                    border : 1px solid $gris;              
                }
            }

            .fieldset-adress{
                display : flex;
                flex-direction: column;
                gap : 2.5vh;
                width : 100%;
                border : 1px solid $kaki;
                padding : 1vw;

                @media screen and (max-width:990px) {
                    border : none;
                    padding : 0;
                }

                legend{
                    @media screen and (max-width:990px) {
                        display : none;
                    }
                }
            }
        }
    }
}