@import "../../style.scss";

.employeeList{
    width : 100%;
    min-height : 100vh;

    &_container{
        display : flex;
        flex-direction: column;
        gap : 5vh;
        padding : 10vh 10vw;

        &-content{
            display : flex;
            justify-content: space-between;
        }
    }    
}


