@import "../../style.scss";

.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 2vh 5vw;
    width : 100%;
    border-bottom : 2px solid $kaki;

    &_logo{
        display : flex;
        align-items: center;
        gap : 2vw;

        &-img{
            width : 4vw;
            height : auto;
            object-fit: contain;
            @media screen and (max-width:990px) {
                width : 10vw;
            }
        }
    }

    &_link{
        font-weight : bold;
        color : $kaki;
        transition : .3s ease;
        @media screen and (max-width:990px) {
            font-size : 4vw;
        }

        &:hover{
            color : $vert;
        }
    }
}