.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 2vh 5vw;
    width : 100%;
    border-bottom : 2px solid #5e6f21;

    &_logo{
        display : flex;
        align-items: center;
        gap : 2vw;

        &-img{
            width : 4vw;
            height : auto;
            object-fit: contain;
            @media screen and (max-width:990px) {
                width : 10vw;
            }
        }

        h1{
            color : #5e6f21;
            @media screen and (max-width:990px) {
                font-size : 7vw;
            }
        }
    }

    &_link{
        font-size : 1.1vw;
        font-weight : bold;
        color : #5e6f21;
        transition : .3s ease;
        @media screen and (max-width:990px) {
            font-size : 4vw;
        }

        &:hover{
            color : #98ac3a;
        }
    }
}